### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
purchase_data_df = pd.read_csv('Resources/purchase_data.csv')
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
total_players = len(purchase_data_df["SN"].unique())
total_players_df = pd.DataFrame({"Total Players":[total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Number of unique items
Unique_Items = len(purchase_data_df['Item ID'].unique())
# Average price
Ave_Price = purchase_data_df['Price'].mean()
#Number of purchases
Purchase_Count = len(purchase_data_df['Purchase ID'])
#Total Revenue
Total_Rev = purchase_data_df['Price'].sum()
# Summary df
Purchasing_Analysis_df = pd.DataFrame({'Number of Unique Items':[Unique_Items],
                                    'Average Price':[Ave_Price],
                                    'Number of Purchases':Purchase_Count,
                                   'Total Revenue':[Total_Rev]})

# Purchasing_Analysis_df = pd.DataFrame(
#                 {'Number of Unique Items': Unique_Items,
#                 'Average Price': Ave_Price,
#                 'Number of Purchases':Purchase_Count,
#                 'Total Revenue':Total_Rev})
Purchasing_Analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# start by creating filtered df by SN to avoid duplicated gender data
pd_gender_df = purchase_data_df[['SN','Gender']].drop_duplicates()                                
pd_gender_df.head()
# Count by Gender
gender_count = pd_gender_df['Gender'].value_counts()
gender_count
# Gender Perentage
gender_percent = gender_count/total_players

# Summary df
gender_demo_df = pd.DataFrame(
    {'Total Count': gender_count,
     'Percentage of Players': gender_percent.astype(float).map("{:.2%}".format)})

gender_demo_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
p_gender_df = purchase_data_df[['Gender','Purchase ID','Price']]
# Calculations
# purchase count by gender
pcount_gender = p_gender_df['Gender'].value_counts()


total_pv_sum = p_gender_df.groupby(['Gender']).sum()
total_pv_gender = total_pv_sum['Price']

avg_pp_gender = total_pv_gender/pcount_gender
avg_pp_gender

avg_tot_p_person = total_pv_gender/gender_count
avg_tot_p_person


# Create a summary data frame to hold the results
p_gender_summary_df = pd.DataFrame(
                    {'Purchase Count': pcount_gender,
                    'Average Purchase Price': avg_pp_gender.astype(float).map("${:,.2f}".format),
                    'Total Purchase Value': total_pv_gender.astype(float).map("${:,.2f}".format),
                    'Avg Total Purchase per Person': avg_tot_p_person.astype(float).map("${:,.2f}".format)}) 
p_gender_summary_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
age_df = purchase_data_df[['Age','SN','Gender']]
age_df = age_df.drop_duplicates()

# create age bins
# bins are <10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40+
bins =[0, 9,14,19,24,29,34,39,purchase_data_df['Age'].max()]
group_names = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

age_df['Age Bucket'] = pd.cut(age_df['Age'], bins, labels=group_names, include_lowest=True)

# make calculations
age_count = age_df['Age Bucket'].value_counts()
percentage_count = age_count/total_players
percentage_count

# create summary df based off bins
age_summary_df = pd.DataFrame(
    {'Total Count': age_count,
     'Percentage of Players': percentage_count.astype(float).map("{:.2%}".format)
    })
age_summary_df

       Total Count Percentage of Players
20-24          258                44.79%
15-19          107                18.58%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
10-14           22                 3.82%
<10             17                 2.95%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
# Slice original data by age
p_age_df = purchase_data_df[['Age','Purchase ID','Price']]

# create bins in new data frame
p_age_df['Age Bucket'] = pd.cut(p_age_df['Age'], bins, labels=group_names, include_lowest=True)
p_age_df

# purchase count by gender
pcount_age = p_age_df['Age Bucket'].value_counts()
pcount_age

total_pv_sum_age = p_age_df.groupby(['Age Bucket']).sum()
total_pv_age = total_pv_sum_age['Price']
total_pv_age

avg_pp_age = total_pv_age/pcount_age
avg_pp_age

avg_tot_p_person_age = total_pv_age/age_count
avg_tot_p_person_age


# # Create a summary data frame to hold the results
p_age_summary_df = pd.DataFrame(
                    {'Purchase Count': pcount_age,
                    'Average Purchase Price': avg_pp_age.astype(float).map("${:,.2f}".format),
                    'Total Purchase Value': total_pv_age.astype(float).map("${:,.2f}".format),
                    'Avg Total Purchase per Person': avg_tot_p_person_age.astype(float).map("${:,.2f}".format)}) 
p_age_summary_df.head()

/Users/staceywai/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [27]:
# Slice original data by SN
top_spenders_df = purchase_data_df[['SN','Price']]
top_spenders_df = top_spenders_df['SN'].value_counts()
top_spenders_df

# calculations
total_pv_sum_SN = top_spenders_df.groupby(['SN']).sum()
total_pv_SN = total_pv_sum_SN['Price']
total_pv_sum_SN
# top_spenders_df = top_spenders_df.sort_values(['Price'],ascending=False)

KeyError: 'SN'

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame